

#wrapper {

	width: 960px;
	margin: auto;
	font-family: "Arial";
    
}

#logo{
	
	text-align: center;
	height: 150px;
	width: 640px;
	margin: auto;
	text-align: center;
}


#nav{ 
	padding-top: 10px;
	text-align: center;
	height: 60px;
 }
 
#nav span, a{
	width: 50px;
	margin: 5px;
}
 
#nav a:hover, #choose{
	cursor: pointer;
}

#content{
	background: white;
			 
}

#footer{
	background: brown; 
	text-align: center;
}

#uvod{
	
	
}		
.mobil, .mobil td{
	text-align: center;
	width: 200px;
	font-size: 12px;
}


.obrazky{
	text-align: center;
	border: none;
	padding: 20px;
	width: 960px;
	font-size: 12px;
}		
.float{
	float: left;
	width: 400px;
	padding: 5px;
}
		
section{
	margin: 20px;
	text-align: justify;
}

article{
	margin: 20px;
	text-align: justify;
	padding
	
}

.porovnaie{
	border: 1px;
	padding: 5px;
	width: 920px;
	font-size: 12px;
}

.porovnaie tr{
	border: 1px solid;
	padding: 5px;
}

.porovnaie td{
	border: 1px solid;
	padding: 5px;
}

.porovnaie th{
	border-style: solid;
	padding: 5px;
	background: grey;
}

body {

}